### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [13]:
# Total number of players
unique_players_df = purchase_data_df.loc[:, ['Gender', 'SN', 'Age']]
unique_players_df = unique_players_df.drop_duplicates('SN')
total_players = unique_players_df['SN'].count()
total_players
pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Count of unique items
items_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]
items_df
unique_items = items_df['Item Name'].unique()
num_unique_items = len(unique_items)
num_unique_items

# Average Purchase Price
avg_price = round(items_df['Price'].mean(),2)
avg_price

# Total Number of Purchases
total_purchases = len(items_df['Item Name'])
total_purchases

# Total Revenue
total_rev = items_df["Price"].sum()
total_rev

2379.77

In [21]:
# Summary Data Frame
summary_dict = {"Number of Unique Items": [num_unique_items],
               "Average Price": [avg_price],
               "Total Purchases": [total_purchases],
               "Total Revenue": [total_rev]}
purchase_df = pd.DataFrame(summary_dict)
purchase_df['Average Price'] = purchase_df['Average Price'].map("${:.2f}".format)
purchase_df['Total Revenue'] = purchase_df['Total Revenue'].map("${:.2f}".format)
purchase_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
# Count of players by gender
# Created series of gender category value counts with prior DF
gender_counts = unique_players_df['Gender'].value_counts()

# Created new DF to hold the information
gender_counts_df = pd.DataFrame(gender_counts)

# Renamed the Gender column to Total Count
gender_counts_df = gender_counts_df.rename(columns={'Gender':'Total Count'})

# # Inserted calculated column in DF for percentage weights
gender_counts_df['Percentage of Players'] = round(gender_counts_df['Total Count']/
                                           sum(gender_counts_df['Total Count']), 2)
gender_counts_df

                       Total Count  Percentage of Players
Male                           484                   0.84
Female                          81                   0.14
Other / Non-Disclosed           11                   0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# All gender purchase calculations
# Data grouped by gender
gender_grp = purchase_data_df.groupby('Gender')

# Purchase count by gender
purchases = gender_grp['Purchase ID'].count()

# Average purchase price by gender
average_price = gender_grp['Price'].mean()

# Total purchase value by gender
total_purchase_val = gender_grp['Price'].sum()

# Average purchase total per person by gender
# Dividing total purchases by the number of people in each gender category
avg_per_player = total_purchase_val/gender_counts
avg_per_player
# # round(avg_per_player, 2)

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [11]:
# Purchasing analysis summary DF 
purchase_dict = {'Purchase Count': purchases, 
                 'Average Purchase Price': average_price,
                 'Total Purchase Value' : total_purchase_val,
                 'Avg Total Purchase per Person' : avg_per_player}
purchase_analysis_df = pd.DataFrame(purchase_dict)
purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Identified lowest and highest values in the Age column
oldest = purchase_data_df['Age'].max()
youngest = purchase_data_df['Age'].min()

# Created bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
#bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Created categories
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Created a new column in the total_players_df (which contains unique players)
# to hold the created bins/categories
unique_players_df['Age Ranges'] = pd.cut(unique_players_df['Age'], 
                                        bins, labels=group_names)

In [13]:
# Age Demographics DF
# Created series to reflect the counts for each age range category
category_count = unique_players_df['Age Ranges'].value_counts()

# Created DF to contain category count data
age_dmgphs_df = pd.DataFrame({'Total Count':category_count})

# Created new column to contain the percentage weight of each category
age_dmgphs_df['Percentage of Players'] = (age_dmgphs_df.iloc[:, 0]/
                                                age_dmgphs_df.iloc[:, 0].sum())
# Sorted the results by index (age categories)
age_dmgphs_df= age_dmgphs_df.sort_index(axis=0)

age_dmgphs_df

       Total Count  Percentage of Players
<10             17               0.029514
10-14           22               0.038194
15-19          107               0.185764
20-24          258               0.447917
25-29           77               0.133681
30-34           52               0.090278
35-39           31               0.053819
40+             12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Implemented bins and categories in the unfiltered DF
purchase_data_df['Age Ranges'] = pd.cut(purchase_data_df['Age'],
                                        bins, labels=group_names)
# Grouped all results by Age Range
group = purchase_data_df.groupby('Age Ranges')

# Calculated the count of purchases for each group
grp_count = group['Purchase ID'].count()

# Calculated the average purchase price for each group
grp_avg_purchase = group['Price'].mean()

# Calculated the total purchase value for each group
grp_total_val = group['Price'].sum()

# Calculated the average total purchase per individual person (excluding duplicates)
grp_avg_per_person = grp_total_val/category_count

In [15]:
# Purchase Analysis DF
ovrl_purchase_dict = {'Purchase Count': grp_count, 
                      'Average Purchase Price': grp_avg_purchase,
                      'Total Purchase Price' : grp_total_val,
                      'Avg Total Purchase per Person': grp_avg_per_person}

purchases_by_age_df = pd.DataFrame(ovrl_purchase_dict)
purchases_by_age_df
# Look up how to label index

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# Grouped purchase data by player
sn_grp = purchase_data_df.groupby('SN')

# Calculated the number of purchases by player
sn_count = sn_grp['Purchase ID'].count()

# Calculated the average purchase price by player
sn_avg_price = sn_grp['Price'].mean()

# Calculated total purchase value by player
sn_total_val = sn_grp['Price'].sum()

# Created dictionary with player details
spenders_dict = {'Purchase Count':sn_count,
                 'Average Purchase Price': sn_avg_price,
                 'Total Purchase Value' : sn_total_val}

# Spenders DF
spenders_df = pd.DataFrame(spenders_dict)

# Sorted the data frame by purchase count, in descending order
top_spenders_df = spenders_df.sort_values(['Purchase Count'], ascending=False)

# Populated the top five players by purchase count
top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# Most Popular Items
item_grp = purchase_data_df.groupby('Item ID')
item_count = item_grp['Purchase ID'].count()
item_price = item_grp['Price'].mean()
item_total_val = item_grp['Price'].sum()
item_name = item_grp['Item Name'].first()

items_dict = {'Item Name': item_name,
              'Purchase Count':item_count,
              'Item Price':item_price,
             'Total Purchase Value': item_total_val}
items_df = pd.DataFrame(items_dict)
sorted_items_df = items_df.sort_values(['Purchase Count'], ascending=False)
sorted_items_df.head()
#items_df = items_df.sort_by([])

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
profitable_item_df = sorted_items_df.sort_values(['Total Purchase Value'], 
                                                 ascending=False)
profitable_item_df.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80